
.indexBodyImg{
    z-index: -1;
    color: white !important;
}

.p1{
    font-size: 110%;
    background-color: white !important;
    z-index: -2;
}


.p2{
    font-size: 80%;
    background-color: white !important;
}

.myStory{
    font-size: 80%;
    /* background-color: white !important; */
}









